.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.username{
  width: 20%;
  height: 35px;
  padding-left: 7px;
}

.password{
  width: 20%;
  height: 35px;
  padding-left: 7px;
}
#password-label{
  margin-top: 12px;
}

.login-button{
  background-color: #0ccc2f;
  color: white;
  margin-top: 12px;
}