.title {
  background-color: #6DCA41;
  align-items: center;
  justify-content: space-evenly;
  font-family: sans-serif;
  text-align: center;
  margin-top: 55px;
  width: 100%;
  font-family: 'Imprima';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 111px;
  color: #ffffff;

}

.userParticipant {
  position: relative;
  font-weight: bold;
  text-align: center;
  color: #a1a5a0;

}

.visu-participant {
  margin-left: 35px;
  cursor: pointer;
  color: #8f8f8f;

}

.visu-participant:hover {
  color: rgb(0, 0, 0);
}

#input {
  position: absolute;
  width: 280px;
  height: 40px;
  left: 5px;
  top: 340px;
  background-color: #c1ccbc;
}

/* usado nas tabelas em "components" */
label {
  width: 100%;
  text-align: start;
  color: #6DCA41;

}



.form-control {
  margin-right: 53px;
  margin-left: 53px;
  max-width: 400px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px;

}

.form-control-small {
  width: 125px;
  font-size: 15px;
  height: 40px;
  margin: 20px 20px 20px 20px;
  text-align: center;
  border-radius: 6px;

}

.col-form-label {
  text-align: start;
  margin-left: 50px;
}